.input-box {
    display: flex;
    width: 400px;
    justify-content: space-around;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-1 label {
    margin-bottom: 15px;
}

.swap {
    width: 400px;
    text-align: center;
}